body{
font-family:Arial;
background:#f4f6f9;
}

.container{
width:90%;
margin:auto;
}

h2{
text-align:center;
}

table{
width:100%;
border-collapse:collapse;
background:white;
}

th,td{
padding:10px;
border:1px solid #ddd;
text-align:center;
}

th{
background:#0d6efd;
color:white;
}

form input{
padding:8px;
margin:5px;
}

button{
background:#0d6efd;
color:white;
border:none;
padding:8px 15px;
border-radius:5px;
cursor:pointer;
}

a{
color:red;
text-decoration:none;

}
.stats{
display:flex;
gap:20px;
margin:20px 0;
}

.box{
background:white;
padding:20px;
flex:1;
text-align:center;
border-radius:8px;
box-shadow:0 2px 6px rgba(0,0,0,.1);
}

.pending{
border-top:5px solid orange;
}

.done{
border-top:5px solid green;
}
.done{
color:green;
font-weight:bold;
}

.pending{
color:orange;
font-weight:bold;
}
.back-btn{
display:inline-block;
margin-bottom:15px;
color:#0d6efd;
font-weight:bold;
text-decoration:none;
}

.back-btn:hover{
text-decoration:underline;
}
