body{
margin:0;
font-family:Segoe UI;
background:linear-gradient(#0d6efd,#6ea8fe);
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.card{
background:white;
padding:30px;
width:380px;
border-radius:12px;
box-shadow:0 10px 30px rgba(0,0,0,.3);
animation:fade 1s;
}

@keyframes fade{
from{transform:translateY(30px);opacity:0;}
to{opacity:1;}
}

h2{text-align:center;}

input,select{
width:100%;
padding:12px;
margin:10px 0;
border-radius:6px;
border:1px solid #ccc;
}

button{
width:100%;
padding:12px;
background:#0d6efd;
color:white;
border:none;
border-radius:6px;
font-size:16px;
cursor:pointer;
}

button:hover{
background:#084298;
}

.icons{
display:flex;
justify-content:space-around;
margin:10px 0;
}

.icons div{
text-align:center;
font-size:12px;
}

.footer{
text-align:center;
font-size:12px;
color:gray;
margin-top:10px;
}